
*{
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
}
li{
	list-style:none;
}
#header{
	width:100%;
	height:60px;
    background:#FFD52B;
    z-index:10000;
    position:fixed;
    top:0;
    left:0;
}
#header>#con{
	width:1300px;
	height:60px;
	background:#FFD52B;
	margin:0 auto; 
	padding-left:0;
	overflow: hidden;
}
#con>#navbar{
	width:1300px;
	height:60px;
	background:#FFD52B;
    margin:0 auto;
}
#con>#navbar>.navbar-header{
	padding:0;
}
#navbrand{
	float: left;
	padding:0;
}
#con>#navbar>.navbar-header>.col-lg-4{
	float: left;
	margin-top:16px;
}
#con>#navbar>.navbar-header>.col-lg-4>#inputgroup>.input-group-btn>button{
		background:#FFE16C;
	    border:0;
	    outline: 0;
	    height:29.5px;
	    top:0.5px;	
}
#con>#navbar>.navbar-header>.col-lg-4>#inputgroup>.form-control{
	background:#FFE16C;
	border:0;
	outline:0;
	font-size:12px;
}
#headernav{
	height:60px;
	float: right;
	padding:0;
	/*margin-right:80px;*/
	margin-top:-50px;
}
#headernav>li{
	display:block;
	width:90px;
	height:60px;
	float: left;
	margin-left:1px;
	text-align:center;
}
#headernav>li>a{
	display: block;
	width:90px;
	height:60px;
	font-size:18px;
	padding-top:20px;
}
#headernav>li>a:hover{
	font-size:20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color:#FFD52B;
    background-color:black;
}

/*底部CSS样式开始*/
#footer{
	width:1060px;
	height:60px;
	/*border: 1px solid red;*/
	margin:0 auto;
    overflow: hidden;
    margin-bottom:40px;
}
#footer>.text-top{
	width:440px;
	height:22px;
	margin:0 auto;
/*	border:1px solid red;*/
}
#footer>.text-top>li{
	float: left;
	height:22px;
	line-height:22px;
}
#footer>.text-top>li>a{
   padding:0 10px;
   text-decoration:none;
   color:#838383;
   font-size:15px;
}
#footer>.text-top>li>a:hover{
	color:red;
}
#footer>.text-top>li>span{
    display: block;
    width:2px;
    height:17px;
    margin:0 auto;
    color:#979797;
    float: right;
    margin-top:-1px;
 }
 #footer>.text-bottom{
 	width:1060px;
 	height:22px;
 	margin:0 auto;
/* 	border:1px solid yellow;*/
 	float: left;
 	margin-top:14px;
 }
  #footer>.text-bottom>li{
  	float: left;
	height:22px;
	line-height:22px;
 }
   #footer>.text-bottom>li>a{
   	padding:0 14px;
    text-decoration:none;
    color:#838383;
    font-size:15px;
  }
  /*app页面开始*/
	#intro{
		width:100%;
		height:auto;
		margin-top:60px;
		margin-bottom:70px;
	}
	#intro img{
		width:100%;
	}