<% include layouts/header %>

<div id="intro">
	 <img src="/imgs/app-img01.png" alt="">
	 <img src="/imgs/app-img02.png" alt="">
	 <img src="/imgs/app-img03.png" alt="">
	 <img src="/imgs/app-img04.png" alt="">
</div>

<% include layouts/footer %>